/.env
/.pytest_cache
/.venv
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache
*.pyc
*.pyo
*__init__.py
instance/
.webassets-cache
__pypackages__/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.python-version